<nav class="navbar navbar-expand-lg bg-body-tertiary custonedit">
    <div class="container-fluid customNavbar">
        <h1 class="navbar-brand customh2 mt-3 " href="">{{roledata}} Home</h1>
        <i class="fa fa-bars ms-5 customh1 fa-lg" (click)="toggleSidenav()" aria-hidden="true"></i>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end me-4" id="navbarSupportedContent">
            <div class="btn-group ms-2 ">
                <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-user fa-lg" style="color: white;"></i>
                </button>
                <ul class="dropdown-menu p-2 customdropDown">
                        <button mat-button (click)="openDialog()">LogOut</button>
                </ul>
            </div>
        </div>
    </div>
</nav>