<i class="fa fa-bookmark" aria-hidden="true"></i>
<div class="btn-group">
    <p type="button" class=" dropdown-toggle customul" data-bs-toggle="dropdown" aria-expanded="false">
        Action
    </p>
    <ul class="dropdown-menu customul">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
        <li>
            <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" href="#">Separated link</a></li>
    </ul>
</div>