mat-sidenav-container{
    height: 100%;
}
mat-sidenav mat-sidenav-content{
    padding: 16px;

}
mat-sidenav {
    background-color: #343a40;
    width: 200px;
}
.customul {
    background-color:#343a40;;
    color: white;
}