<mat-dialog-content class="mat-typography customcontent">
    <div class="container-fluid d-flex justify-content-center align-items-center customDiv" style="border-radius: 10px;">
      <form class="col-md-6 p-3 bg-light rounded customForm1" [formGroup]="userForm" (ngSubmit)="isUpdate ? updateForm() : submitForm()" >
        <div class="error-message customError" *ngIf="errorMessage">
          <p class="alert alert-danger custompara" role="alert">{{ errorMessage }}</p>
        </div>
        <h1 class="text-center">{{ isUpdate ? 'Update User' : 'Create User' }}</h1>
        <hr>
  
        <div class="row">
          <div class="col">
            <mat-form-field appearance="fill">
              <mat-label>First Name</mat-label>
              <input matInput formControlName="firstName" placeholder="Enter your first name" type="text">
              <mat-error *ngIf="firstName?.hasError('required')">First name is required</mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field appearance="fill">
              <mat-label>Last Name</mat-label>
              <input matInput formControlName="lastName" placeholder="Enter your last name">
              <mat-error *ngIf="lastName?.hasError('required')">Last name is required</mat-error>
            </mat-form-field>
          </div>
        </div>
  
        <mat-form-field style="width: 100%;">
          <mat-label><mat-icon color="primary">email</mat-icon> Email</mat-label>
          <input matInput formControlName="email">
          <mat-error *ngIf="email?.hasError('required')">Email is required</mat-error>
          <mat-error *ngIf="email?.hasError('email')">Invalid email format</mat-error>
        </mat-form-field>
  
        <div class="row" >
          <div class="col">
            <mat-form-field appearance="fill">
              <mat-label>Password</mat-label>
              <input matInput placeholder="Enter your password" [type]="hide1 ? 'password' : 'text'"
                     formControlName="password1" required>
              <mat-icon matSuffix (click)="hide1 = !hide1">{{ hide1 ? 'visibility_off' : 'visibility' }}</mat-icon>
              <mat-error *ngIf="password1?.hasError('required')">Password is required</mat-error>
              <mat-error *ngIf="password1?.hasError('minlength')">A minimum length of 8 is required</mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field appearance="fill">
              <mat-label>Confirm password</mat-label>
              <input matInput placeholder="Enter your password" [type]="hide2 ? 'password' : 'text'"
                     formControlName="password" required>
              <mat-icon matSuffix (click)="hide2 = !hide2">{{ hide2 ? 'visibility_off' : 'visibility' }}</mat-icon>
              <mat-error *ngIf="password?.hasError('required')">Confirm password is required</mat-error>
              <mat-error *ngIf="password?.hasError('passwordMismatch') && password?.touched">Passwords do not match</mat-error>
            </mat-form-field>
          </div>
        </div>
  
        <div >
          <label class="form-label">Role:
            <input class="form-check-input me-1" type="radio" name="role" id="admin" formControlName="role" value="admin">
            <label class="form-check-label" for="admin">Admin</label>
            <input class="form-check-input me-1 ms-1" type="radio" name="role" id="agent" formControlName="role" value="agent">
            <label class="form-check-label" for="agent">Agent</label>
            <input class="form-check-input me-1 ms-1" type="radio" name="role" id="supervisor" formControlName="role" value="supervisor">
            <label class="form-check-label" for="supervisor">Supervisor</label>
            <input class="form-check-input me-1 ms-1" type="radio" name="role" id="qa" formControlName="role" value="qa">
            <label class="form-check-label" for="qa">QA</label>
            <input class="form-check-input me-1 ms-1" type="radio" name="role" id="qc" formControlName="role" value="qc">
            <label class="form-check-label" for="qc">QC</label>
          </label>
          <mat-error *ngIf="role?.hasError('required')">Role is required</mat-error>
          <mat-error *ngIf="role?.hasError('invalidRole') && role?.touched">Please select a valid role</mat-error>
        </div>
        
        <mat-dialog-actions align="center">
          <button mat-raised-button mat-dialog-close color="warn">Close</button>
          <button mat-raised-button color="primary" type="submit">{{ isUpdate ? 'Update Account' : 'Create Account' }}</button>
        </mat-dialog-actions>
      </form>
    </div>
  
    <!-- Success Message -->
    <!-- <div class="toast" *ngIf="successMsg" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <strong class="me-auto">Success</strong>
        <button type="button" class="btn-close" (click)="successMsg = false" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        User {{ isUpdate ? 'updated' : 'created' }} successfully
      </div>
    </div> -->
  </mat-dialog-content>
  