<div class="container-fluid">
    <form >
        <label>first name</label>
        <input type="text">
        <label>last name</label>
        <input type="text">
        <label>Email</label>
        <input type="email">
        <label>Role</label>
        <input type="radio">
        <label>Admin</label>
        <input type="radio">
        <label>Agent</label>
        <label>admin</label>
        <label>Password</label>
        <input type="password">
        <button>register</button>

    </form>
</div>