.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left {
    display: flex;
    align-items: center;
}


.customTable {
    width: 100%;
    border-radius: 2px;
    border: 3px solid rgb(141, 137, 137);
}

.mat-form-field {
    margin-left: 20px;
    min-width: 200px;
}

.mat-elevation-z8 {
    padding: 20px;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}