.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}

.header-left {
    display: flex;
    align-items: center;
}


.customTable {
    width: 100%;
    border-radius: 2px;
    /* border: 3px solid rgb(141, 137, 137); */
}

.mat-form-field {
    margin-left: 20px;
    min-width: 200px;
}

.mat-elevation-z8 {
    padding: 20px;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Odd Row Color */
.odd-row {
    background-color: #f0f0f0;
    /* Light grey */
}

/* Even Row Color */
.even-row {
    background-color: #ffffff;
    /* White */
}

/* Hover Color for Rows (Optional) */
.customTable .mat-row:hover {
    background-color: #e0e0e0;
    /* Lighter grey on hover */
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

