<div class="customMain">
    <div class="container customforgetpass">
        <mat-card>
            <div class=" line">
                <h1>Password Recovery</h1> 
            </div>
       
          <mat-card-content class="line">
            <form>
                <p>Enter your email address and we will send you a link to reset your password. </p>
              <mat-form-field appearance="fill">
                <mat-label >Email</mat-label>
                <input matInput type="email"  placeholder="Enter your email" required>
              </mat-form-field>
            <div class="d-flex align-items-center justify-content-between mb-3">
                <a [routerLink]="['']" href="">Return to login</a>  
                <button type="submit" class="btn btn-primary ">Reset Password</button>
            </div>
            </form>
          </mat-card-content> 
          <div class="footersection ">
               <a [routerLink]="['/signup']">Already have an account? Sign In.</a> 
            </div>
        </mat-card>
      </div>

</div>

  
