.customforgetpass {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 

}
.customMain{
    background-color: #2196F3;
}
mat-card {
    max-width: 400px;
    width: 100%;
    background-color: #f1f1f1;
  
   
}

mat-card-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

mat-form-field {
    width: 100%;
}


.footersection{
    text-align: center;
    padding-bottom: 4px;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration:underline;
}
h1{
    text-align: center;
  
}
.headsection{
    height: 100px;
    text-align: center;

}
.line {
    width: 100%;
    border-bottom: 1px solid #ccc; /* Color of the line */
    margin: 20px 0; /* Adjust margin as needed */
  }
p{
    color: #6c757d;
}

