.customcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}
.customform {
    background-color: white;
    width: 500px;
    border: 1px solid #ccc;
    border-radius: 10px;
    /* padding: 40px; */
    margin-top: 50px;
}
.custombody{
    background-color: #1877F2;;
    width: 100%;
    height: 100%;

}
.custominput{
    background-color: transparent;
}
.customFormInput{
    padding: 20px;
}
.customHead{
    padding-bottom: 10px;
    padding-top: 30px;
    text-align: center;
    
}
.custombody h1{
   font-size: xx-large;
}
