<div class=" customcontainer">
    <div class="row">
        <div class="col-md-6">
            <app-progress-spinner [show]="isLoading"></app-progress-spinner>
            <form class="customform" [formGroup]="loginform" (ngSubmit)="login()">
                <div class="customHead">
                    <h1 class="text-center">Login</h1>
                </div>
                <hr>
                <div class="customFormInput">
                    <label>Email</label>
                    <mat-form-field style="width: 100%">
                      
                        <input matInput formControlName="email" placeholder="Enter email address">
                        <mat-error *ngIf="loginform.get('email')?.hasError('required')">Email is
                            required</mat-error>
                        <mat-error *ngIf="loginform.get('email')?.hasError('email')">Please enter a valid email
                            address</mat-error>
                            <mat-error *ngIf="loginform.get('email')?.hasError('pattern')">Please enter a valid email
                                address</mat-error>
                    </mat-form-field>
                    <div class="mb-3">
                        <label>Password</label>
                        <mat-form-field style="width: 100%;">
                         
                            <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'"
                                formControlName="password" required>
                            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' :
                                'visibility'}}</mat-icon>
                   
                            <mat-error *ngIf="loginform.get('password')?.hasError('required')">Password is
                                required</mat-error>
                            <mat-error *ngIf="loginform.get('password')?.hasError('minlength')">Password must have
                                a minimum length of 8
                            </mat-error>
                            <mat-error *ngIf="loginform.get('password')?.hasError('pattern')">
                                Password must be a alPhanumeric
                            </mat-error>

                        </mat-form-field>

                    </div>
                 
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="mb-3">
                            <p class="mb-0"><a href="" [routerLink]="['forgot/password']">Forgot Password?</a></p>
                        </div>
                        <div class="error-message" *ngIf="errorMessage">
                            <p class="alert alert-danger custompara" role="alert">
                                {{ errorMessage }}
                            </p>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary">Login</button>
                        </div>
                    </div>

                </div>
                <hr class="w-100">
                <p class="text-center"><a href="#" [routerLink]="['/signup']">Need an Account? Sign
                        up!</a></p>
            </form>

        </div>

    </div>
   
</div> 